{% extends 'base.html' %}
{% load static %}

{% block title %}Crear Nuevo Usuario{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/forms.css' %}">
{% endblock %}

{% block content %}
<div class="data-section no-roundness">
    <h3>Crear Nuevo Empleado / Usuario</h3>
    
    <form method="post" class="form-container-small">
        {% csrf_token %}
        <div class="form-group-margin">
            <label class="form-label-block">Nombre de Usuario</label>
            <input type="text" name="username" class="filter-select full-width" required>
        </div>
        
        <div class="form-group-margin">
            <label class="form-label-block">Contraseña Temporal</label>
            <input type="password" name="password" class="filter-select full-width" required>
        </div>

        <div class="form-group-margin">
            <label class="form-label-block">Número de Teléfono</label>
            <input type="text" name="phone" class="filter-select full-width">
        </div>

        <div class="form-group-margin">
            <label class="form-label-block">Rol Asignado</label>
            <select name="role" class="filter-select full-width" required>
                <option value="staff">Staff</option>
                <option value="administrador">Administrador</option>
                <option value="propietario">Propietario</option>
            </select>
        </div>

        <button type="submit" class="action-btn">Crear Usuario</button>
    </form>
</div>
{% endblock %}