/* static/css/forms.css */

.form-container-small {
    max-width: 500px;
}

.form-group-margin {
    margin-bottom: 15px;
}

.form-label-block {
    display: block;
    margin-bottom: 8px;
}

.full-width {
    width: 100%;
}

/* Ocultar elementos si es necesario */
.hidden {
    display: none;
}